# Enable URL rewriting
RewriteEngine On

# Set the RewriteBase to /attendance-project/public
RewriteBase /attendance-project/public/

# Add .php extension if file doesn't exist
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ $1.php [L]

# Redirect all requests to index.php if file/folder doesn’t exist
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L]
